@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");

@import "./reset";

#app {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;

	#content-app {
		flex: 1;
		display: block;
		width: 100%;
	}
}

button {
	&,
	&:focus,
	&:active,
	&:hover {
		outline: none;
		border: none;
		background: none;
		-webkit-appearance: none;
		writing-mode: inherit;
	}

	&:disabled:hover {
		box-shadow: none;
		border: none;
		outline: none;
	}
}

input {
	&::-ms-reveal,
	&::-ms-clear {
		display: none;
	}
}

i {
	font-family: "PT Serif", sans-serif;
	letter-spacing: 1px;
}

h {
	&1,
	&2,
	&3,
	&4,
	&5,
	&6 {
		font-family: "Poppins", sans-serif;
		font-weight: 500;
	}
}

.light {
	font-weight: 300;
}

#gatsby-focus-wrapper {
	height: 100vh;
	width: 100%;
	display: block;
	position: relative;
}

// padding & margins
.p {
	@for $i from 0 through 6 {
		&\:#{$i} {
			padding: #{$i}rem;
		}

		&\:#{$i}5 {
			padding: #{"#{$i}."}5rem;
		}

		&l\:#{$i} {
			padding-left: #{$i}rem;
		}

		&l\:#{$i}5 {
			padding-left: #{"#{$i}."}5rem;
		}

		&v\:#{$i} {
			padding-top: #{$i}rem;
			padding-bottom: #{$i}rem;
		}

		&v\:#{$i}5 {
			padding-top: #{"#{$i}."}5rem;
			padding-bottom: #{"#{$i}."}5rem;
		}

		&h\:#{$i} {
			padding-left: #{$i}rem;
			padding-right: #{$i}rem;
		}

		&h\:#{$i}5 {
			padding-left: #{"#{$i}."}5rem;
			padding-right: #{"#{$i}."}5rem;
		}

		&r\:#{$i} {
			padding-right: #{$i}rem;
		}

		&r\:#{$i}5 {
			padding-right: #{"#{$i}."}5rem;
		}

		&t\:#{$i} {
			padding-top: #{$i}rem;
		}

		&t\:#{$i}5 {
			padding-top: #{"#{$i}."}5rem;
		}

		&b\:#{$i} {
			padding-bottom: #{$i}rem;
		}

		&b\:#{$i}5 {
			padding-bottom: #{"#{$i}."}5rem;
		}
	}
}

.m {
	@for $i from 0 through 6 {
		&\:#{$i} {
			margin: #{$i}rem;
		}

		&\:#{$i}5 {
			margin: #{"#{$i}."}5rem;
		}

		&l\:#{$i} {
			margin-left: #{$i}rem;
		}

		&l\:#{$i}5 {
			margin-left: #{"#{$i}."}5rem;
		}

		&v\:#{$i} {
			margin-top: #{$i}rem;
			margin-bottom: #{$i}rem;
		}

		&v\:#{$i}5 {
			margin-top: #{"#{$i}."}5rem;
			margin-bottom: #{"#{$i}."}5rem;
		}

		&h\:#{$i} {
			margin-left: #{$i}rem;
			margin-right: #{$i}rem;
		}

		&h\:#{$i}5 {
			margin-left: #{"#{$i}."}5rem;
			margin-right: #{"#{$i}."}5rem;
		}

		&r\:#{$i} {
			margin-right: #{$i}rem;
		}

		&r\:#{$i}5 {
			margin-right: #{"#{$i}."}5rem;
		}

		&t\:#{$i} {
			margin-top: #{$i}rem;
		}

		&t\:#{$i}5 {
			margin-top: #{"#{$i}."}5rem;
		}

		&b\:#{$i} {
			margin-bottom: #{$i}rem;
		}

		&b\:#{$i}5 {
			margin-bottom: #{"#{$i}."}5rem;
		}
	}
}

.opacity {
	@for $i from 0 through 9 {
		&\:#{$i} {
			opacity: calc(#{$i} / 10);
		}
	}
}

//font align
.t {
	&\:bold {
		font-weight: bold;
	}
	&\:light {
		font-weight: normal;
	}
	&\:lower {
		text-transform: lowercase;
	}
	&\:upper {
		text-transform: uppercase;
	}
	&\:ucwords {
		text-transform: capitalize;
	}
	&\:center {
		display: block;
		text-align: center;
	}
	&\:left {
		display: block;
		text-align: left;
	}
	&\:right {
		display: block;
		text-align: right;
	}
	&\:justify {
		display: block;
		text-align: justify;
	}
}

.type {
	&\:list {
		position: relative;

		&:before {
			content: "";
			width: 6px;
			height: 6px;
			border-radius: 1rem;
			background-color: #232525;
			position: absolute;
			left: -12px;
			top: 50%;
			transform: translateY(-50%);
		}

		&.primary {
			&:before {
				background-color: #0380f5;
			}
		}
	}
}

.Spinner {
	position: relative;
	width: 60px;
	height: 60px;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		border: 2px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;
	}
}

.SpinnerHalf {
	width: 50%;
	height: 100%;
	overflow: hidden;

	&:after {
		content: "";
		display: block;
		width: calc(200% - 4px);
		height: calc(100% - 4px);
		border: 2px solid transparent;
		border-top-color: #0066ff;
		border-left-color: #0066ff;
		border-radius: 50%;
		transform: rotate(-45deg);
	}
}

@keyframes spin-left {
	0%,
	25% {
		transform: rotate(-225deg);
		visibility: hidden;
	}
	50%,
	75% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(135deg);
	}
}

.SpinnerHalf--left {
	float: left;

	&:after {
		animation: spin-left 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	}
}

@keyframes spin-right {
	0% {
		transform: rotate(-225deg);
	}
	25%,
	50% {
		transform: rotate(-45deg);
	}
	75%,
	100% {
		transform: rotate(135deg);
		visibility: hidden;
	}
}

.SpinnerHalf--right {
	float: right;
	transform: translate(-4px, -4px) rotate(180deg);

	&:after {
		animation: spin-right 2s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite;
	}
}

.color {
	&\:wait {
		color: #1c6cb7;
	}

	&\:link {
		color: #0380f5;
	}

	&\:presuccess {
		color: #0edcd9;
	}

	&\:success {
		color: #0edc59;
	}

	&\:warning {
		color: #f5a003;
	}

	&\:danger {
		color: #ef3551;
	}
}

.news {
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	color: white;
}
